@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Italianno', cursive;
    font-weight: 300;
    color: #2b2105;
    scroll-behavior: smooth;
}
body{
    min-height: 1000px;
}
.banner{
    display: flex;
    /* position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: left;
    align-items: left;
    color: #4B371B;
    padding: 100px; */
    /* background: url(../../assets/images/subtle.png); */
    /* background-size: cover; */
}
.banner .content {
    margin-top: 100px;
    max-width: 900px;
    text-align: left;
   
}
.banner .content h2{
    font-size: 7em;
    color: #4B371B;
}
.banner .content p{
    font-size: 3em;
    color: #4B371B;
    font-family: 'Italianno', cursive;

}
.banner .content .clinic {
    font-family: 'Italianno', cursive;
    font-size: 4em;
}
.banner .content .win{
    text-align: right;
    font-size: 2.5rem;
}
.banner .content .hituName {
    font-size: 4em;
}
.btn {
    font-size: 1.5em;
    color: #fff;
    background: #4B371B;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
}
.btn:hover{
    letter-spacing: 6px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky {
    color: #4B371B;
    background: #fff;
    padding: 0px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .menuToggle {
    display: none;
}
header .logo{
    color: #4B371B;
    font-weight: 700;
    font-size: 4em;
    text-decoration: none;
}
header .logo .titleLogo{
    height: 3rem; 
    width:3rem; 
    position: relative; 
    top: 10px;
}
header.sticky .logo {
    color: #4B371B;
}
header .navigation {
    position: relative;
    display: flex;
}
header .navigation li{
    
    list-style: none;
    margin-left: 30px;
    font-size: 2rem;
}
header .navigation li a {
    font-family: 'Dosis', sans-serif;
    transition: 0.5s;
    text-decoration:  none;
    color: #4B371B;
    font-weight: 300;

}
header.sticky .navigation li a{
    color: #4B371B;
}

header .navigation li a:hover{
    color: #4B371B;
    letter-spacing: 2px;
}
section{
    padding: 3.125em 4.6875em;
    background: url(./images/subtle.png);
}
section p{
    font-size: 2rem;
    font-family: 'Dosis', sans-serif;
}
section p .btn{
    font-size: 1.5rem;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 47%;
}
.row .col50 #more{
    font-family: 'Dosis', sans-serif;
    display: none;
}
.row .col50 #dots{
    font-family: 'Dosis', sans-serif;
}
.titleText{
    color: #2b2105;
    font-size: 3em;
    font-weight: 300;
}
.titleText span{
    color: #2b2105;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx{
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}
.row .col50 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 29rem;
    height: 29rem;
    /* border-radius: 350px; */
    object-fit: cover;
}
.row .col50 .imgBx img.profile {
    width: 100%;
    height: 42em;
}
.doctor{
    background: url(./images/subtle.png);
}
.doctor .row .col50 .imgBx {
    height: 42em;
}
.services .row .col50 .service-list{
    font-size: 2em;
    font-family: 'Dosis', sans-serif;
}
.services .row .col50 .service-list li{
    font-family: 'Dosis', sans-serif; 
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gallery .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px
}

.gallery .wrapper .titleText{
    text-align: center;
}

.gallery .wrapper .img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gallery .wrapper .img-area .single-img {
    padding: 0 20px 20px;
}

.gallery .wrapper .img-area .single-img img{
    width: 20em;
    height: 20em;  
}

.gallery .wrapper .img-area .single-img img:hover{
    opacity: .5;
    transition: .9s;
}
.contact u{
    font-family: 'Dosis', sans-serif;
}

.copyrightText{
    height: 50px;
    padding: 5px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    
}
.copyrightText p{
    color: #333;
    font-size: 1.5rem;
    font-family: 'Dosis', sans-serif;
}

.copyrightText p a {
    font-family: 'Dosis', sans-serif;
}

@media (min-width: 1025px) {

    header .logo{
        font-size: 3vw;
    }
    header .navigation li{
        font-size: 2vw;
    }
}

@media (max-width: 1024px) {
    header .logo{
        font-size: 2em;
    }
    header .logo .titleLogo {
        height: 2rem;
        width: 2rem;
        position: relative;
        top: 10px;
    }
    header,
    header.sticky {
        padding: 5px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 85px);
        position: fixed;
        top: 85px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        color: #2b2105;
        font-size: 1.6em;
    }
    header .menuToggle{
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        background: url(./images/menu3.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background:url(./images/close.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    /* header.sticky .menuToggle{
        filter: invert(1)
    } */
    section {
        padding-top: 70px;
        padding: 30px;
    }
    section.about .row, section.services .row {
        flex-direction: column-reverse;
    }
    .banner {
        justify-content: center;
        align-items: center;
    }
    .banner .content .hituName {
        font-size: 2em;
    }
    .banner .content h2{
        font-size: 4em;
    }
    .banner .content .clinic {
        font-size: 2em;
    }
    .banner .content .win{
        font-size: 1.5rem;
    }
    .row {
        flex-direction: column;
    }
    .row .col50{
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }
    .about .row .col50 .imgBx {
        text-align: center;
    }
    .about .row .col50 .imgBx img {
        position: relative;
    }
    .row .col50 .imgBx img.profile {
        height: 22em;
    }
    .doctor .row .col50 .imgBx {
        height: 22em;
    }
    .row .col50 .imgBx img{
        height: 20em;
        width: 20em;
    }
    .row .col50 .imgBx img.hh_1 {
        width: 100%;
    }
    .services .row .col50 .service-list {
        padding-left: 20px;
    }
    .menu .content{
        margin-top: 20px;
    }
    .title{
        text-align: center;
    }
    .titleText{
        line-height: 1.5em;
        margin-bottom: 15px;
        margin-top: 20px;
        font-weight: 300;
    }
}